/* COMMON */
.container {
  width: 992px;
}

.container.grey{
  background-color: #f9f9f9;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

[class^="col-"] {
  padding: 16px;
  text-align: center;
}

img{
  height: 200px;
}

.clear {
  clear:both;
}

/* WHY */
#why .row > [class^="col-"] {
  margin-top: 80px;
}

#why .row img {
  background-color:#428bca;
  border-radius:50%;
  padding:30px
}


@media all and (min-width: 1200px) {}
@media all and (min-width: 769px) and (max-width: 1199px) {}
@media all and (max-width: 768px) {}
