/* COMMON */
.container {
  width: 992px;
}

.container.grey{
  background-color: #f9f9f9;
}

.row {
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 100px; */
}

[class^="col-"] {
  padding: 5px 16px;
  text-align: center;
}

img{
  height: 200px;
}

.clear {
  clear:both;
}

/* WHY */
#why .row > [class^="col-"] {
  /* margin-top: 80px; */
}

#why .row img {
  background-color:#428bca;
  border-radius:50%;
  /* padding:30px */
}



/* RESPONSIVE */
@media all and (min-width: 1200px) {
  body {
    background: #DCDCDC;
  }

  hr {
    display: none;
  }

  .container.grey:not(:last-child) {
    background-color: #DAA520;
  }

  .row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }

  [class^="col-"] {
    margin-bottom: 35px;
  }
}


@media all and (min-width: 770px) and (max-width: 1199px) {

  body {
    background: lightblue;
  }

  .container {
    max-width: 900px;
  }

  .row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }

  [class^="col-"] {
    margin-bottom: 35px;
  }

}



@media all and (max-width: 769px) {

  body {
    background: darkorange;
  }

  img {
    height: 100px;
    max-width: 100%;
  }

  h3 {
    padding: 0px;
  }

  .row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  [class^="col-"] {
    margin-bottom: 20px;
  }

  #lezioni p {
    padding-bottom: 10px;
    border-bottom: 3px solid orange;
  }

  #steps p:not(.last) {
    padding-bottom: 10px;
    border-bottom: 3px solid darkorange;
  }

  hr {
    color: darkorange;
  }
}
